.mainPrincipal-section2 {
    /* background-color: rgb(255, 253, 253); */
    /* background-image: url('https://media.istockphoto.com/id/1472053073/es/vector/mariposas-y-cerezos-en-flor.jpg?s=170667a&w=0&k=20&c=LYh8MfMEfhPgVBN2XeQ_j81gkFzzX11HWA_TWq8qEJI=');
    background-repeat: no-repeat;
    background-size: cover; */
    
    
}

.mainPrincipal-parrafo {
    color: rgb(17, 17, 18);
}

/* .section2-imagene {
    width: 100%;
    height: auto;
    border-radius: 5%;
} */

/* .mainPrincipal-parrafo {
    padding: 5% 10% 10% 10%;
    text-align: justify;
} */



.section2-imagene {
    /* width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    /* padding: 5% 5% 5% 10%;  
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);  */
}

/* .section2-imagene {
    display: none; * Oculta la imagen 
} */